

h1{
    color: red;
}

.tap{
    background-color: rgb(241, 211, 211);

}

h3{
    color: red;
}
h1{
    text-align: right;
}
#gen{
    text-align:right ;
}
#sec1{
    text-align: center;
}
#parent{
    margin-left: 15%;
    margin-right: 15%;
}