*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar{
    background-color: violet;
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
   

ul{
    display: flex;
}
.center >ul >li{
list-style: none;
margin-right: 10px;
background-color: steelblue;
padding: 5px;
border-radius: 5px;

}

.center >ul >li:hover{
    color:sienna ;
    cursor: pointer;
    transform: skew(-10deg,-10deg);
    transition: 0.5s;
}

span{
    color:darkslategrey;
    text-shadow: -4px 5px 8px black;
    font-size: 40px;
}
.end .btn1{
   margin-right: 5px;
   padding: 5px;
   width: 80px;
   background-color: blue;
   color: white;
   font-size: 15px;
   font-weight: bold;
   border-radius: 5px;
   
}
.end .btn2{
    margin-right: 5px;
    padding: 5px;
    width: 80px;
    border: 2px solid blue;
    border-radius: 5px;
    color: blue;
    font-size: 15px;
    font-weight: bold;
 }
 .end .btn1:hover{
    background-color: lightseagreen;
    cursor: pointer;
    transform: scale(0.8);
    transition: .5s;
    
 }
 .end .btn2:hover{
    background-color: aquamarine;
    cursor: pointer;
    transform: scale(0.8);
    transition: .5s;
 }