*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-size: 44px;
    letter-spacing: 1.5px;
    text-shadow: 0px 4px 5px black;
}

.outer >.one{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(https://www.shutterstock.com/image-photo/calm-weather-on-sea-ocean-600nw-2212935531.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;

    background-attachment: fixed; 
    /* background-attachment: scroll; */

}
.outer >.two{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20240103/pngtree-vivid-abstract-texture-a-burst-of-colorful-background-image_13892083.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: black;

    background-attachment: fixed;


}
.outer >.three{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(https://img.freepik.com/free-vector/geometric-shapes-neon-lights-background_23-2148435452.jpg?semt=ais_hybrid);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;

    background-attachment: fixed;


}
.outer >.four{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(https://t4.ftcdn.net/jpg/05/94/71/21/360_F_594712177_b0zmtFcDlN4DA5rt2B6SW4Hm4GL3zPS2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;

    background-attachment: fixed;


}